
// *************************************************************//
// Struktur för SCSS. Skrivet i BEM ( BLOCK, ELEMENT, MODIFIER) //

.object {
	// Objektet - exempelvis .navigation
}

.object__element {
	// Elementet - barn till Objektet, exempelvis .navigation__item
} 

.object--modifier {
	// Modifier - exempelvis .navigation--vertical

} 

// För att enkelt bygga de olika objekten med tillhörande element och modifiers skrivs det på följande vis:

.object {

	// SCSS för objektet

	&__element {

		// SCSS för elementet

		&--modifier {

			// SCSS specifik modifier för specifikt element
			// Exempel .navigation__item--active

		}

		&__element {

			// Ett element kan byggas på med fler element
			// Exempel .navigation__list__item

		}
	}

	&--modifier {

		// SCSS för modifiern
		// Exemel .navigation__list--vertical

	}

}


// Variabler
// Börja alltid definera så det är lätt att förstå vad för typ av variabel det är.

$text-heading:  // Text för rubriker  ;
$text-book: 		// Text för brödtext  ;


$text-alpha: 		// Största storleken  ;
$text-beta:			// Näst störst ;
osv...


$color-base:		// Huvudfärgen  ;
$color-red: 		// Specifik färg  ;
$color-blue:		// Specifik färg  ;