.okayNav-header {
  height: 7rem;
  background-color: #fff;
}
.okayNav a {
  color: $dark-grey;
  font-size: 12px;
  letter-spacing: .3px;
  text-transform: uppercase;
}
.okayNav a:hover {
  color: $dark-grey;
  text-decoration: none;
}
.okayNav__nav--visible a:hover {
  color: $color-dark-blue;
}
.okayNav__nav--invisible {

}
.okayNav__menu-toggle span {
  background: $color-uber-dark-blue;
}
.okayNav__menu-toggle.icon--active span {
  background: $color-dark-blue;
}
