#pcm {
    background-color: $light-grey;
    height: 100px;
    padding: 0 50px;
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%
}

.pcm-site-logo img {
    max-width: 100px;
    height: auto;
}

