$color-dark-blue:       #34495e;
$color-uber-dark-blue:  #2b3b4c;
$color-light-blue:      #dae1e8;
$color-gb:              #adbbca;

$light-grey:            #f9f9f9;
$grey:                  #eaeaea;
$dark-grey:             #404040;

@import "pcm/pcm-header";
@import "pcm/okayNav-base";
@import "pcm/okayNav-theme";

#pcm {
	z-index: 10;
	margin-top: 75px;
}


.pcm-text-container {
	position: relative;
	height: 60vh;
	width: 100%;
	text-align: center;
}

.pcm-text {
	position: absolute;
	top: 50%;
	width: 100%;
}