@include createIncrementClass( 'marg-bot', 'margin-bottom' );
@include createIncrementClass( 'marg-top', 'margin-top' );
@include createIncrementClass( 'pad-bot', 'padding-bottom' );
@include createIncrementClass( 'pad-top', 'padding-top' );
.pad-0{
  padding: 0px !important;
}
.marg-0{
  margin: 0px !important;
}
