@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}

// Mixin för vertical position (fyll i exv. absolute)
@mixin vertical-align($position) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}


//Create margin and padding classes
//Steps up to 10 will jump 10px at a time
//Steps over 10 will jump 50px at a time
$steps: 14;
@mixin createIncrementClass( $class, $style ){
  @for $i from 0 through $steps {
    $size: 0;
    //Steps up to 10 will jump 10px at a time
      @if( $i <= 10 ){
        $size: $i*10;
    //Steps over 10 will jump 50px at a time
      } @else {
        $size: 100+( ($i - 10)*50 );
      }
    .#{$class}-#{$size} { #{$style}: #{$size}px; }
  }
}