// Grid settings
$enable-flex:           false;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #333;


// Typogrpahy
// Ändra efter egna preferenser. andra värdet är line-heighten eg.  null  : (15px, 1.4)

$breakpoints: (
  small : 480px,
  medium: 768px,
  large : 1024px
);

$p-font-sizes: (
  null  : (15px, 1.4),
  small : (16px, 1.45),
  medium: (17px, 1.4),
  900px : 18px,
  large : (19px, 1.45),
  1440px: 20px,
);

$h1-font-sizes: (
  null  : (28px, 1.3),
  small : 32px,
  medium: (40px, 1.4),
  large : (58px, 1.45),
);

$h2-font-sizes: (
  null  : (20px, 1.3),
  small : 24px,
  medium: (32px, 1.4),
  large : (42px, 1.45),
);

$h3-font-sizes: (
  null  : (17px, 1.3),
  small : 20px,
  medium: (28px, 1.4),
  large : (36px, 1.45),
);