$color-white: #fff;
$color-grey: #4a4a4a;

.main-carousel-container{
	position: relative;
	min-height: 200px;
}
.nav-carousel-container{
	position: relative;
	padding: 5px 0px;
	margin-left: -5px;
	margin-right: -5px;
	.carousel{
		width: 75%;
		@include media-breakpoint-up(sm) {
			width: 80%;
		}
		@include media-breakpoint-up(xl) {
			width: 83.333%;
		}
		.owl-item{
			cursor: pointer;
			img{
				cursor: pointer;
				padding: 5px;
			}
			&:after{
				display: block;
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				width: calc( 100% - 10px );
				height: calc( 100% - 10px );
				transition: all 250ms;
			}
			&.current{
				cursor: default;
				&:after{
					background-color: rgba( $color-white, 0.6 );
				}
			}
		}	
	}
	.next-btn{
		position: absolute;
		top: 0px;
		right: 5px;
		width: calc( 25% - 10px );
		height: calc( 100% - 10px );
		border-radius: 0px !important;
		background: $color-grey !important;
		transition: all 250ms;
		cursor: pointer;
		@include media-breakpoint-up(sm) {
			width: calc( 20% - 10px );
		}
		@include media-breakpoint-up(xl) {
			width: calc( 16.666% - 10px );
		}
		&:hover{
			background: darken( $color-grey, 10% ) !important;
		}
		.row{
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 2px;
			background-color: $color-white;
			&.top{
				transform-origin: right top;
				transform: translateY( -50% ) rotate( -50deg );
			}
			&.bot{
				transform-origin: right bottom;
				transform: translateY( -50% ) rotate( 50deg );
			}
		}
	}
}