.instagram-image {
	position: relative;
	overflow: hidden;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	margin-bottom: 30px;

	 img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);

		&.landscape {
			height: 100%;
			width: auto;
		}

		&.portrait {
			width: 100%;
			height: auto;
		}
	}
}